@import "tailwindcss";

/* Base styles */
:root {
  color-scheme: light dark;
}
body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
